/*Importar nuevas fonts*/
@font-face {
    font-family: "logo";
    src: url("/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}
@font-face {
    font-family: "titulos";
    src: url("/fonts/Caveat/Caveat-VariableFont_wght.ttf");
}

.font-logo {
    font: bold 16px logo, Verdana, sans-serif;
    text-align: center;
}
.titulo {
    font: 16px titulos, Verdana, sans-serif;
}
.titulo-contenido {
    font: bold 30px titulos, Verdana, sans-serif;
    text-align: center;
}